
<body class="main-layout">
  <!-- header -->
  <header>
    <!-- header inner -->
    <div class="head">
       <div  class="container">
          <div class="row ">
             <div  class="col-md-6">
                <ul class="email_call">
                   <li><a href="#"><img src="/images/icon/2.png" alt="#"/>(+71)1234567890</a></li>
                   <li><a href="#"><img src="/images/icon/1.png" alt="#"/>demo@gmail.com</a></li>
                </ul>
             </div>
             <div  class="col-md-6">
                <ul class="social_icon">
                   <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a></li>
                   <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></i></a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <div class="header-top">
       <div class="header">
          <div class="container-fluid">
             <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                   <div class="full">
                      <div class="center-desk">
                         <div class="logo">
                            <a href="index.html"><img src="images/logo.png" alt="#" /></a>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                   <div class="menu-area">
                      <div class="limit-box">
                         <nav class="main-menu">
                            <ul class="menu-area-main">
                               <li class="active"> <a href="index.html">Home</a> </li>
                               <li> <a href="#service">Service</a> </li>
                               <li> <a href="#clean">Better Clean</a> </li>
                               <li> <a href="#ourwork">Our Work</a> </li>
                               <li> <a href="#review">Review</a> </li>
                               <li> <a href="#request">Contact us</a> </li>
                            </ul>
                         </nav>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <!-- end header inner -->
       <!-- end header -->
  </header>